﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайтец</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval") 
    @Scripts.Render("~/bundles/jquery.unobtrusive-ajax")
    @Scripts.Render("~/bundles/MyJS")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("testIndex", "testIndex", "Home")</li> @*@HttpContext.Current.User.Identity.Name*@
                    <li>
                        @{
                            if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <div class="myBoxLogin">
                                    <div>
                                        <span style="padding-left:10px; padding-right:10px;">@HttpContext.Current.Request.Cookies["first_name_last_name"].Value</span>
                                        <br />
                                        <span style="font-size:10px; margin-left:10px; margin-right:5px;">(@Html.ActionLink("LOG OUT", "LogOut", "Account", new { pathView = Request.Url.PathAndQuery }, null))</span>
                                    </div>
                                    <div>
                                        <img width="50" height="50" alt="Avatar" style="border-radius: 0 30px;" src="@Url.Action("GetImageFromDB", "Account")" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.ActionLink("LOG IN | SIGN UP", "LoginRegister", "Account", new { pathView = Request.Url.PathAndQuery }, null);
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>