﻿<h2 style="margin-left:0px;">Отлично!</h2>

<div style="text-align:left; color:white; font-size:smaller; margin-left:0px; font-size:small">
    <div>
        1. Проверьте почту.
    </div>
    <div>
        2. Подтвердите данные.
    </div>
    <br />
    <div>
        Перенаправление на главную, через: <span id="resultsRedirectJSEmailShow" style="color:white; font-size:smaller"><b>5</b></span>
    </div>
    <div>@*ДОДЕЛАТЬ ПЕРЕХОД!!!*@
         @Html.ActionLink("Вернутся сейчас", "Index", "Home" )
    </div>
</div>

<script>
    var i = 5;
    var backUrlLink = $('#UrlAddress').val();
    var timeToRedirect = setInterval(function () {
        document.getElementById('resultsRedirectJSEmailShow').innerHTML = i--;
        if (i == -1) {
            clearInterval(timeToRedirect);
            $(location).attr('href', '/Home/Index');
        };
    }, 1000)

  /*  $('#myinput_ReturnBackUrl_ShowEmail').on("click", function (e) {
        e.preventDefault();
        var backUrlLink = $('#UrlAddress').val();
        $(location).attr('href', '/Home/Index');
    });*/
</script>