﻿@model Register_AspNetIdentityApp_Git.Models.VkLoginConfirmEmailModel

@{
    ViewBag.Title = "Подтвердите";
}

@using (Html.BeginForm("VkLoginConfirmEmail", "Account", FormMethod.Post, new { id = "myVkLoginRegister", @class = "formMargin" }))
{
    <h2>@ViewBag.Title</h2>
    @Html.AntiForgeryToken()
    <div style="border-radius: 0 30px; background: #9ef3f6; padding:0; display: inline-block; ">
        <div class="myBoxConfirmEmail">
            <div class="textBoxWithValidMessage">
                <div class="boxInLine">
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-text", type = "text", placeholder = "Введите Email" })
                        <input type="reset" class="btnClearText" value="X">
                    </div>
                </div>
                <div class="myValidationMessageFor">
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="textBoxWithValidMessage">
                <div class="boxInLine">
                    <div>
                        @Html.TextBoxFor(m => m.MyUserName, new { @class = "input-text", type = "text", placeholder = "Введите MyUserName" })
                        <input type="reset" class="btnClearText" value="X">
                    </div>
                </div>
                <div class="myValidationMessageFor">
                    @Html.ValidationMessageFor(m => m.MyUserName)
                </div>
            </div>

            <input id="input_VkLogInSingUp" type="submit" class="myBtn myBtnLogInSignUp" style="background-color:#e06f35; margin-left:0px; border-radius: 0 0 0 30px;" value="Завершить" />

            <div class="classForValidationSummary">
                @Html.ValidationSummary(true)
            </div>

            @Html.HiddenFor(id => id.idVkUser)
            @Html.HiddenFor(id => id.Email)
            @Html.HiddenFor(id => id.MyUserName)
            @Html.HiddenFor(id => id.ImageDataMy)
        </div>
        <div class="myBoxConfirmEmail">
            @if (Model.ImageDataMy != null)
            {
                <div class="pull-left" style="margin-right: 0px; ">
                    <img width="134" height="134" style="border-radius: 0 30px; margin-left:17px" src="data:image;base64,@System.Convert.ToBase64String(Model.ImageDataMy)" /> @*http://stackoverflow.com/questions/6040920/display-an-image-contained-in-a-byte-with-asp-net-mvc3*@
                </div>
            }
        </div>
    </div>
}