﻿body {
    padding-top: 50px;
    background-color: #35a892;/*40ccb2*/
    border-radius: 10px;
}

.body-content {
    background-color: #40ccb2; 
    margin-top: 35px;
    border-radius: 0 10px 10px 10px;
}

/*вкладки*/
.navbar-nav {
    background-color: #40ccb2;
    border-radius: 30px 30px 0 0;
}

/*верх*/
.navbar-inverse {
    background-color: #257667;
}
h2, .h2 {
    color: #00d;
}
.container {
    width: 950px;
    padding:0;
}

/*textBox + X*/
.btnClearText { /*X*/
  color: #777;
  background-color: white;
  border: none;
  position: relative;
  left: -23px;
  padding: 0px;
  opacity: 0;
  font: 12px;
}
.input-text { /*textBox*/
  width:220px;
  height: 34px;
  color: #555;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid grey;
  font: 14px Verdana, sans-serif;
  padding: 3px 27px 3px 10px;
  
}
.input-text:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input::-ms-clear {
  display: none;
}
.input-text:focus + .btnClearText {
  opacity: 1;
}

/*textbox border light*/
.text-box-text:focus{
    border-color:#00d;
}

/*когда неверно введено*/
.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #f5cdcd;
}

/*в одну линию*/
.boxInLine {
  white-space: nowrap;
}
.boxInLine div {
  display: inline-block;
}
.myBox {
    display: inline-block; 
    vertical-align:top;/*!!!!*/
    width: 250px;
    height:350px;
    box-sizing: border-box;
    padding:0;
}

/*Логин + Выъод + Ава*/
.myBoxLogin{ /*http://shpargalkablog.ru/2012/03/vyrovnyat-tekst-vertikali.html display: table-cell; и vertical-align: middle;*/
    display: table;
    vertical-align:top; /*!!!!*/
    box-sizing: border-box;
    padding:0;
    text-align: center;
    background: #9ef3f6;
    border-radius: 0 30px;
    font-size:9pt;
    line-height:1.1;
}
.myBoxLogin div { /* для IE8+ */
    display: table-cell;
    vertical-align: middle;
}

/*Подтверждение + Ава!!!*/
.myBoxConfirmEmail {
    display: inline-block; 
    vertical-align:top;/*!!!!*/
    box-sizing: border-box;
    padding:0;
}


/*Кнопки*/
.myBtn {
  text-decoration: none;
  display: inline-block;
  width: 36px;
  height: 34px;
  line-height: 2.4em;
  vertical-align: middle;
  text-align: center;
  margin-right:2.6px;

  color:white;

  border: 1px solid rgba(0,0,0,.4);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 4px;
  box-shadow:
   0 0 3px rgba(0,0,0,0) inset,
   0 1px 1px 1px rgba(255,255,255,.2),
   0 -1px 1px 1px rgba(0,0,0,0);
  transition: .2s ease-in-out;
}
.myBtn:hover:not(:active) {
    color:white;
    text-decoration: none;
}
.myBtn:active {
    color:white;
    text-decoration: none;
    background-color:#2f2f82;
    box-shadow:
        0 0 -5px rgba(0,0,0,.5) inset,
        0 1px 1px 1px rgba(255,255,255,.4),
        0 -1px 1px 1px rgba(0,0,0,.1);
}

/*VK*/
.myBtnVK {
    background-color: #4b4be8;
    color: white;
}
.myBtnVK:hover:not(:active) {
    color:white;
    box-shadow:
        0 0 3px rgba(0,0,0,0) inset,
        0 1px 1px 1px #00d,
        0 -1px 1px 1px #00d;
}
.myBtnVK:active {
    background-color:#262669;
}

/*ForgotPassword*/
.PasswordForgot {
    margin:0;
    margin-left:45px;
    font-size: 12px;
    padding:0;
}

/*LOG IN | SIGN UP*/
.myBtnLogInSignUp {
    width:220px;
    background-color:#44a43c;
}
.myBtnLogInSignUp:hover:not(:active) {
    box-shadow:
        0 0 3px rgba(0,0,0,0) inset,
        0 1px 1px 1px #318e2b,
        0 -1px 1px 1px #318e2b;
}
.myBtnLogInSignUp:active {
    background-color:#2c5529;
}

/*Валидаторы*/
.myValidationMessageFor{
    font-size:small;
    color:#000000;
    margin:0;
    padding:0;
}
.myValidationMessage{
    font-size:small;
    color:#000000;
    margin:0;
    padding:0;
}
.textBoxWithValidMessage {
    height:40px; 
    margin-bottom:10px;
}
.formMargin{
    margin:0 0 0 30px;
}