﻿@{
    ViewBag.Title = "Подтверждение забытого пароля";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<div>
    <p>
        Пожалуйста, проверьте свою почту, для сброса пароля.
    </p>
</div>