﻿﻿@model Register_AspNetIdentityApp_Git.Models.PasswordForgotModel

@{
    ViewBag.Title = "Забыли пароль?";
}

@using (Html.BeginForm("PasswordForgot", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2>@ViewBag.Title</h2>
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Отправить пароль" />
        </div>
    </div>

}
